 <section style="margin-left:30%">

<h1 style="margin-left:20%">Restaurants</h1>

<title style="margin-left:20%">{{title}}</title>

<form method="get" style="margin-left:20%">

    <div class="col-md-12">
        <input class="form-control" type="number" name="page" placeholder="Page Number" required>
    </div>
    <div class="col-md-12">
        <input class="form-control" type="number" name="perPage" placeholder="per Page items" required>
    </div>
    <div class="col-md-12">
        <input class="form-control" type="text" name="borough" placeholder="Borough">
    </div>
    <div class="form-button mt-3">
        <button id="submit" type="submit" class="btn btn-primary">Filter Data</button>
    </div>

</form>

<h3>List of Restaurant</h3>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cuisine</th>
        <th>Borough</th>
        <th>Get Restaurant details</th>
    </tr>

        
    {{#each data}}
    
    <tr>  
        <td>{{restaurant_id}}</td>
        <td>{{name}}</td>
        <td>{{cuisine}}</td>
        <td>{{borough}}</td>
        <td><a href="/api/restaurants/{{_id}}">Get Details</a></td>
    </tr>
    
    {{/each}}
</table>

</section><!-- End Hero Section -->